* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Mobile first design  */

@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }

  .profile-icon {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }


#profile-icon {
height: 150px;
width: 150px;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none; 
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: (internal value);
}